<div id="content">
    <div>
            <label>Username</label>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <div>
            <input type="button" id="submit-btn" value="Register Vendor"/>
        </div>
    <div>
        <p id="logs"></p>
    </div>
</div>