<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tide.Utilities</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<div class="layout center">
    @RenderBody()
</div>


<script src="~/js/main.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
