#tide {
  button {
    position: relative;
    background: #4184f3;
    cursor: pointer;
    width: 340px;
    height: 66px;
    color: white;
    border: 0px;
    border-radius: 2px;
    z-index: 1;
    outline:none;

    &:hover {
      #logo-back {
        background: #316cca;
      }
    }

    #logo-back {
      position: absolute;
      background: #397ae4;
      width: 88px;
      height: 66px;
      left: 0px;
      border-radius: 3px;
      z-index: 2;
      transition: all 0.3s;
      transition-timing-function: ease-in-out;

      &.processing {
        background: #ff6c00;
      }
    }

    

    #tide-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      #tide-logo {
        width: 25px;
        z-index: 4;

        &.processing {
          animation: rotation 2s infinite linear;

          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        }
      }
 
      #tide-title {
        width: 70%;
        font-size: 19px;
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
      }
    }

    #tide-status {
      font-family: "DM Sans", sans-serif;
      position: absolute;
      right: 5px;
      bottom: 2px;
      display: flex;
      flex-direction: row;

      #status-text {
        transform: translate(0px, -1px);
        font-size: 10px;
      }
    }
  }
}
