.padded-container {
  padding-left: 65px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.tide-blue {
  color: #26a6d4;
}
.tide-orange {
  color: #ff6c00;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #26a6d4;
}
