.padded-container {
  padding-left: 65px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.tide-blue {
  color: #005ce3;
}
.tide-orange {
  color: #ff6c00;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #f86b02;

  &:hover {
    color: #af4c00;
  }
}

.indent-30 {
  padding-left: 30px;
}
