@model List<Tide.Core.BlockData>



<div class="center col">
    <div id="app">
        <table>
            <tr>
                <th>Contract</th>
                <th>Table</th>
                <th>Scope</th>
                <th>Index</th>
            </tr>
            @foreach (var block in Model) {
        <tr>
            <td>@block.Contract</td>
            <td>@block.Table</td>
            <td>@block.Scope</td>
            <td>@block.Index</td>
        </tr>
            }
         
   
        </table> 
    </div>
</div>

<script>

</script>

<style>
    #app {
        width: 1000px;
    }

    table {
        width: 100%;
    }

    th {
        text-align: left;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

     
</style>