@{
    ViewData["Title"] = "Home Page";
}

<div class="center col">
    <a asp-controller="Home" asp-action="Dauth" class="button mb-2">dAuth Test</a>
    <a asp-controller="Home" asp-action="Explorer" class="button">Explorer</a>
</div>