html {
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  border-radius: 2px;
}

.tide-logo {
  width: 120px;
  display: block;
  margin-bottom: 50px;
}

h1,
p,
td,
th,
h4,
h2 {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.section-title {
  color: #0dbae8;
  margin-left: 15px;
}

.info-section {
  margin-bottom: 30px;
}

.section-subtitle {
  margin-left: 15px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #f07800;
}

.nice-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.nice-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.nice-scroll::-webkit-scrollbar-thumb {
  background-color: #f07800;
}

#page-info {
  text-align: center;
}

.classification {
  color: orange;
  margin-left: 10px;
}

.test-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}

.slide-enter {
  transform: translateX(-150%);
  opacity: 0;
}

.slide-enter-to {
  transform: translateX(0);
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-to {
  transform: translateX(150%);
  opacity: 0;
}

.box {
  margin: 5px;
  background-color: #f8fafc;
  border: #d3dce2 1px solid;
}

.Password {
  margin: 0 !important;
}

.Password__group {
  width: 100% !important;
}

.Password__field {
  width: 100%;
  border: 0px !important;
  border-bottom: 2px solid #e4e4e4 !important;
  padding-left: 5px !important;
  height: inherit !important;
  background-color: transparent !important;
}

.red {
  color: red;
}

.auth-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 350px;
  form {
    display: flex;
    flex-direction: column;
  }

  input[type="checkbox"] {
    pointer-events: none;
    visibility: hidden !important;
  }

  max-width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    height: 40px;
    border: 0px !important;
    border-bottom: 2px solid #e4e4e4 !important;
    margin-bottom: 25px !important;
    padding-left: 5px;

    &:hover {
      border-bottom: 2px solid #0dbae8 !important;
    }
  }

  .gradiant-button {
    transition: all 0.5s;
    margin-top: 20px;
    border: 0px;
    border-radius: 2px;
    height: 50px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    // background: linear-gradient(142deg, rgba(0, 155, 177, 1) 0%, rgba(6, 60, 141, 1) 34%, rgba(9, 9, 121, 1) 60%, rgba(16, 0, 255, 1) 100%);
    background: #3d90df;
    i {
      margin-right: 6px;
    }

    &:hover {
      background: #235d94;
    }

    &.back {
      background: #ffa722;

      &:hover {
        background: #bd8a00;
      }
    }

    &.disabled {
      background: black;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .link {
    color: orange;

    &:hover {
      color: #0dbae8;
    }
  }
}
.f-w {
  width: 100%;
}
