//@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://use.typekit.net/pbh2uud.css");
$input-height: 55px;
$primary: #1ba1e2;
$dark-primary: #1990cc;
$content-width: 350px;
$border-color: #bbbbbb;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.2s all;
}

#content {
  width: $content-width;
}

html,
body {
  // border: 1px solid $primary;
  width: calc(100% - 2px);
  padding: 0;
  margin: 0;
  height: calc(100vh - 3px);
}

.link {
  color: rgb(0, 132, 255);
  cursor: pointer;

  &:hover {
    color: rgb(255, 123, 0);
  }
}

h2 {
  text-align: center;
  font-weight: 700;
  user-select: none;
}

form {
  input,
  button {
    width: 100%;
    box-sizing: border-box;
    height: $input-height;
  }

  input {
    border: 1px solid $border-color;
    transition: 0.1s;

    padding-left: 20px;
    color: #aaa5a5;
    font-size: 0.9rem;

    &:hover {
      border-color: orange;
    }

    &:focus {
      border-color: rgb(207, 135, 0);
    }

    &::placeholder {
      color: $border-color;
    }
  }

  button {
    background: $primary;
    border: 1px solid $primary;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: $dark-primary;
      border-color: $dark-primary;
    }
  }

  .action-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p {
      width: 130px;
      text-align: center;
      font-size: 0.8rem;
      color: $primary;

      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
    button {
      width: 130px;
    }
  }
}

.advanced-options {
  position: absolute;
  bottom: 5px;
  left: 23px;
  cursor: pointer;
  p,
  label {
    color: #aaa5a5;
    font-size: 0.9rem;

    &:hover {
      color: $primary;
    }
  }
}

// Positioning
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-10 {
  margin-bottom: 10px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: #2196f3;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transform: translate(0px, 1px);

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.po-password-strength-bar {
  border-radius: 0px;
  transition: all 0.2s linear;
  border: 1px solid #999999;
  margin-bottom: 10px;
  margin-right: -1px;
  width: calc(100% - 2px);
}

.password-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  input {
    width: 48.5%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.disclaimer {
  color: orange;
  font-weight: 600;
  text-align: center;
}

.input-list {
  overflow-y: auto;
  max-height: 240px !important;
  input {
    margin: 0px 0px 10px 0;
    height: 40px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(190, 190, 190);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
  }
}

.bold {
  font-weight: 700;
}
