@{
    ViewData["Title"] = "Home Page";
}

<div id="content" >
    <img class="component" src="/img/logo.svg" alt="Tide logo" />
    <div class="component" id="divider"></div>
    <div class="component">
        <p>Create a vendor account</p>
        <div>
            <input class="input-style" type="text"  placeholder="Username" id="username" />
        </div>
        <div>
            <input class="input-style" type="password"  placeholder="Password" id="password" />
        </div>
        <div>
            <input class="input-style" type="text"  placeholder="Description" id="desc" />
        </div>
        <button class="input-style" id="connect-btn">Register Vendor</button>
    </div>
</div>

<div id="status"></div>
