<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 v-if="!rendered">Empty</h1>
        <div v-else>
            <h1>
                <span>Form</span>
                <input type="button" value="decrypt" v-show="encrypted" v-on:click="decrypt">
                <input type="button" value="encrypt" v-show="!encrypted" v-on:click="encrypt">
            </h1>
            <table v-if="rendered">
                <tr v-for="fld in fields">
                    <td>{{ fld.field }}</td>
                    <td><input v-model="fld.value" :disabled="fld.isEncrypted" :class="{'invalid': !fld.isValid}"></td>
                </tr>
            </table>
            <div>
                <input type="button" value="save" v-on:click="save">
                <input type="button" value="cancel" v-on:click="cancel">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="enclave.js"></script>
    <style type="text/css">.invalid { border-color: #800000; background-color: #ffdddd; }</style>
</body>
</html>